.main {
    background: #000000;
    position: relative;
}

/* On Load Animation */
.mainPageAnimation {
    margin-top: 50vh;
    animation-name: example;
    animation-duration: 3s;
    animation-fill-mode: forwards;  
  }
  
  @keyframes example {
    from { margin-top: 50vh;}
    to { margin-top: 0vh;}
  }

/* Side Menu */
.sideMenuModal {
    z-index: 10;
    width: 100%;
    height: 100vh; 
    position: absolute;
    top: 0; 
    left: 0; 
    background: linear-gradient(180deg, rgba(4, 5, 6, 0.64) 0%, rgba(4, 5, 6, 0.4) 100%);
    box-shadow: 0px 4px 24px -1px #00000040;
    backdrop-filter: blur(10px);
}
.sideMenuHeader{
    margin: 24px auto auto auto;
    width: 1270px;
    height: 69px;
    position: relative
}
.sideMenuIcon {
    float: left;
    height: 100%;
    width: 40px;
    margin-left: 32px;
    display: flex;
    align-items: center;
}
.sideMenuClose {
    float: right;
    margin-right: 32px;
    height: 100%;
    display: flex;
    align-items: center;
}
.sideMenuContent {
    margin-right: 82px;
    text-align: right;
}
.sideMenuList {
    margin: 10px auto auto auto;
    font-size: 64px;
    font-weight: 900;
    line-height: 78px;
    letter-spacing: 0.01em;
}

/* Search Bar */
.searchBar {
    margin: 24px auto auto auto;
    width: 1270px;
    height: 69px;
    border: 2px solid #F5F5F514;
    border-radius: 64px;
    background: #000000;
}
.searchBarIcon {
    float: left;
    height: 100%;
    width: 40px;
    margin-left: 32px;
    display: flex;
    align-items: center;
}
.menuText {
    margin: 26px auto 26px auto;
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    letter-spacing: 0em;
    color: #F5F5F5;
    display: inline-block;
}
.menuBarIcon {
    float: right;
    margin-right: 32px;
    height: 100%;
    display: flex;
    align-items: center;
}

/* Super proud to work with */
    .clientContainer {
        margin-top: 102px;
        position: relative;
    }
    .clientContainer:after {
        content: '';
        position: absolute;
        left: 0; right: 0;
        top: 0; bottom: 0;
        background-image:
            linear-gradient(90deg, #010101 0%, rgba(1, 1, 1, 0) 20%, transparent 80% ),
            linear-gradient(90deg, transparent 80%, rgba(1, 1, 1, 0) 20%, #010101 100%);

    }

    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    }
    .clientLogoContainer {
        height: 62px; 
        overflow-x: scroll; 
        overflow-y: hidden; 
        white-space: nowrap;
    }

    .clientLogo {
        width: 160px;
        height: 62px;
        float: left;
        margin-left: 32px;
    }

/* Let's Chat */
    .letsChatContainer {
        margin-top: 240px;
        text-align: center;
    }
    .letsChatButton {
        padding: 16px 40px 16px 40px;
        background: #33FF85;
        width: 177px;
        height: 54px; 
        border-radius:48px;
        box-shadow: 0px 0px 16px 0px #FF336680
    }

/* Footer */
    .footerContainer {
        margin-top: 240px;
        height: 553px;
        background-image: url('../../assets/footer-background.png');
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        border: 1px solid transparent;
    }
    .footerSubContainer {
        margin-top: 254px;
        text-align: center;
    }
    .footerMenuContainer {
        margin-top: 48px;
    }
    .footerSocialMediaContainer {
        margin-top: 56px;
    }
    .footerSocialMedia {
        margin: auto;
        width: 298px;
    }
    .footerLinkContainer {
        margin-top: 80px;
        position: relative;
    }